.main-content {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: calc(100% - 300px);

  &__empty {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }
}
