html,
body {
  height: 100%;
  background: #ccc;
}

body {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  padding: 0;
}

._404 {
  width: 100%;
  padding: 20px;

  h1 {
    text-align: center;
  }
}
